<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <!--[if lt IE 9]>
      <script 
src="//cdjs.clodflare.com/ajax/libs/htm15shiv/r29/htm15.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
	<%= link_to "sample app", '#', id: "logo" %>
	<nav>
	  <ul class="nav navbar-nav navbar-right">
	    <li><%= link_to "Home",	'#' %></li>
	    <li><%= link_to "Help",	'#' %></li>
	    <li><%= link_to "Log in",	'#' %></li>
	  </ul>
	</nav>
      </div>
    </header>
    <div class="container">
	    <%= yield %>
	    <%= render 'layouts/footer' %>
	    <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>

